/*#wrapper {display:table;}
#cell {display:table-cell; vertical-align:middle;}*/
body{
/*    background-image: url("Afterburner.png");
    background-repeat: no-repeat;*/
}
#menu {
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 120px;
    width: 600px;
    height: 400px;
    background-color: #43577B;
    opacity: 0.9;
/*    margin:0px auto;*/
    -webkit-transform: perspective(600) rotateY(30deg);
}

#buttonContainer {
    width: 80%;
    margin: auto;
}

.options {
    height: 50px;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    /*background-color: #939393;*/
    -webkit-box-shadow: 3px 3px 4px #000;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.23, rgb(128,129,130)),
	color-stop(0.59, rgb(177,186,186))
);
    text-align: left;
    text-indent: 10px;
    font: 40px arial, serif;
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(255,255,255,.5),
    1px 1px 3px rgba(0,0,0,.6);
    -webkit-transition: all 100ms ease-in;
    list-style: none;
/*   box-shadow: 
  0 1px 2px #fff, /*bottom external highlight
  0 -1px 1px #666, /*top external shadow 
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
.options:hover {
    
    -webkit-transform: translate(30px);
    -webkit-box-shadow: 10px 10px 5px #000;
}

.descriptions {
    display: none;
    -webkit-transition: all 100ms ease-in;
}

@-webkit-keyframes flip /* Safari and Chrome */
{
0% {-webkit-transform: perspective(600) rotateY(0deg);}
50% {-webkit-transform: perspective(600) rotateY(180deg);}
100% {-webkit-transform: perspective(600) rotateY(0deg);}
}
#description{
    width: 500px;
    opacity: 0.9;
    height: 600px;
    top: 100px;
    left: 700px;
    background-color: #43577B;
    position: absolute;
    border-radius: 10px;
    -webkit-transition: all 300ms ease-in;
}

